* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@property --rotate {
  syntax: "<angle>";
  initial-value: 132deg;
  inherits: false;
}

:root {
  --card-height: 38rem;
  --card-width: 27.25rem;
}
